$color-bg-primary: #4e4631;
$color-font-title-hover: #afc47a;
$color-font-primary: #eaf9d9;
$color-font-secondary: #dfd9e2;
$color-font-menu: #a6a57a;
$color-font-hover: #9db5b2;
$color-font-dark: #252422;
