// $color-main-0: #1f190a;
// $color-main-1: #66521f;
// $color-main-2: #ac8a35;
// $color-main-3: #e2d0a1;
// $color-main-4: #f5efe0;
$color-main-0: #212220;
$color-main-1: #2ec4b6;
$color-main-2: #ff9f1c;
$color-main-3: #cbf3f0;
$color-main-4: #66521f;
$color-main-6: #ac8a35;
$color-main-5: #e6eedd;

$color-secondary-0: #333d29;
$color-secondary-1: #414833;
$color-secondary-2: #656d4a;
$color-secondary-3: #a4ac86;
$color-secondary-4: #c2c5aa;

$color-dark-0: #582f0e;
$color-dark-1: #7f4f24;
$color-dark-2: #936639;
$color-dark-3: #a68a64;
$color-dark-4: #b6ad90;

$color-font-title-hover: #afc47a;
$color-font-primary: #eaf9d9;
$color-font-secondary: #dfd9e2;
$color-font-menu: #a6a57a;
$color-font-hover: #9db5b2;
$color-font-dark: #252422;
